<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>

  <ng-container *ngIf="!propuestaEnviada">
    <h4>Hola {{_sharedService.getProperty('name')}}</h4>
    <p>Gracias por apoyar el movimiento!</p>
    <p>¿Que te interesa intercambiar por el servicio de <strong class="primary-color">{{data.title}}</strong>?</p>
    <small>Recuerda que tienes estos ticket guardados</small>

    <form class="propuesta-form" [formGroup]="propuestaForm">
      <!-- lista de los tickets -->
      <mat-form-field>
        <mat-label>Tickets</mat-label>
        <mat-select formControlName="intercambio">
          <mat-option *ngFor="let ticket of _sharedService.getProperty('tickets')" [value]="ticket.id">
            {{ticket.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <!-- propuesta economica -->
      <mat-form-field appearance="fill">
        <mat-label>Propuesta económica</mat-label>
        <input matInput type="number" class="example-right-align" formControlName="propuestaEconomica">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00 MX</span>
      </mat-form-field>
      <br>
      <!-- nueva propuesta text area -->
      <mat-form-field class="example-full-width">
        <mat-label>Valor agregado</mat-label>
        <textarea matInput placeholder="Te Propongo..." formControlName="ofertaNueva"></textarea>
      </mat-form-field>
    </form>
  </ng-container>

  <ng-container *ngIf="propuestaEnviada">
    <h4 class="text-center"><span class="primary-color">G</span>racias por apoyar la economia local<span class="primary-color">,</span> ahora esperemos a que {{data.author}} acepte tu propuesta<span class="primary-color">.</span></h4>
  </ng-container>

</div>
<div mat-dialog-actions *ngIf="!propuestaEnviada">
  <button mat-raised-button color="primary" [disabled]="!propuestaForm.valid" (click)="mandarPropuesta()">Mandar
    Propuesta!</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
</div>