@import "../../../styles/_variables.sass"

.feed-element
  background-color: white
  color: #303030
  margin: 30px 0
  padding: 10px
  display: flex
  min-height: 300px
  width: 100%
  
.feed-profile
  margin: 20px 30px 0 20px

.profile-img
  height: 90px
  width: 90px
  border-radius: 50px
  background-color: $primary
  img
    width: 100%
    border-radius: 50px

.feed-info
  padding: 20px 0
  width: 85%
  p 
    font-size: 1em
    margin: 0
    padding: 3px 0

.service-image
  width: 250px
  margin: 15px 0
  img
    width: 100%
    border-radius: 90px 0px 90px 0px
    -moz-border-radius: 90px 0px 90px 0px
    -webkit-border-radius: 90px 0px 90px 0px
    border: 5px solid $primary

.divider
  width: 100%
  height: 2px
  background-color: grey
  display: block
  opacity: .2

.description
  padding: 15px 0

.propuestas
  margin-top: -20px

.feed-border
  margin: 15px 30px

.button-row
  margin-top: 5px !important
  padding: 0 !important
  button
    margin-top: 5px
  
.btn-margin
  margin-right: 15px